html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  --mostarDesplegable: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --ocultarDesplegable: polygon(0 0, 100% 0, 100% 0, 0 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 110px;
  background-color: rgb(195, 243, 211);
  border-bottom: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -3px 10px 8px -2px rgba(68, 60, 60, 0.75);
}

.barraMenu {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 3px;
  transition: 0.2s 0.1s;
}

.burger span {
  background-color: #000000;
  display: block;
  height: 3px;
  width: 28px;
  margin: 5px auto;
  border-radius: 2px;
}
.enlaces-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  width: 95%;
  position: absolute;
  top: 55px;
  right: 8px;
  border: 1px solid #000;
  border-radius: 6px;
  text-align: center;
}

.enlaces-menu a {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
}

.menuIcons {
  width: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  margin-right: 20px;
}

svg:hover {
  fill: rgb(214, 33, 33);
}

#iconoUser {
  width: 40px;
  height: 40px;
  background-color: rgba(60, 60, 134, 0.561);
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

.contenedor-icono-carrito {
  position: relative;
}

#num-items {
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
  z-index: 100;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 15px;
  text-align: center;
  line-height: 25px;
}

#main {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-image: url(./img/frutas-verduras.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
.logo {
  font-family: "The Nautigal", cursive;
  font-weight: 400;
  text-shadow: 4px 4px 4px #000000;
}

h1 {
  background-color: #6be4d450;
  color: rgb(206, 205, 205);
  margin: 10px;
  border-radius: 30px;
  font-size: 6rem;
  text-align: center;
}

.logo {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-text h3 {
  font-family: "The Nautigal", cursive;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}

#productos {
  width: 100%;
  height: 62.5vh;
  background-image: url(./img/fruta_verdura2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barra-filtros {
  width: 100%;
  display: flex;
  padding: 0 2px;
  justify-content: space-between;
  align-items: flex-end;
}

#select,
#filtro {
  padding-left: 5px;
  width: 48%;
  height: 50px;
  font-size: 1rem;
  background-color: rgba(128, 134, 115, 0.918);
  color: #fff;
  border-radius: 8px;
}

#filtro {
  background-color: rgba(236, 236, 236, 0.918);
  color: #000;
}

.grid-fluid {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem auto;
  max-width: 95%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow: auto;
}

.product-card {
  position: relative;
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.product-card img {
  margin: 0;
  width: 100%;
  height: 60%;
  object-fit: contain;
}
.product-card .card-info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product-card .btn {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #6be4d4;
  transition: background-color 0.2s ease-in-out;
}
.product-card .btn:hover {
  background-color: #bfcecb;
  border: 0.5px solid #000;
}

.sinStock {
  position: absolute;
  top: 100px;
  width: 150px;
  height: 40px;
  background-color: rgb(251, 0, 0);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

/* Carrito */

.contenedor-carrito {
  position: fixed;
  top: 113px;
  right: 1px;

  width: 99%;
  height: 80%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  clip-path: var(--ocultarDesplegable);
  transition: clip-path 0.2s ease-in-out;
}

.carrito {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titulo-carrito {
  text-align: center;
  width: 100%;
  color: rgba(184, 21, 21, 0.808);
}

.headerCarrito {
  height: 30px;
  width: 99%;
  line-height: 30px;
  font-size: 0.7rem;
  border: 1px solid #000;
  background-color: rgba(206, 228, 171, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.headerCarrito h3:first-child {
  width: 18%;
  text-align: center;
}

#itemsCarrito {
  width: 98%;
  max-height: 68%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.row-carrito {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000;
}

#item {
  width: 30%;
  margin: 0 3px;
  text-align: left;
  margin: 0 5px;
}
.row-carrito h4 {
  width: 28%;
  text-align: right;
}

.row-carrito input {
  width: 30px;
  height: 30px;
  font-size: 0.7rem;
  text-align: center;
}

.row-carrito div {
  width: 30px;
  text-align: center;
}

.row-carrito h3:last-child {
  width: 25%;
  margin-right: 10px;
  text-align: right;
}

#itemsCarrito img {
  background-color: blue;
  width: 40px;
  height: 40px;
}

#footerCarrito {
  width: 99%;
  height: 90px;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #000;
  background-color: rgba(206, 228, 171, 0.7);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer-linea1 {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-linea2 {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nCantidad {
  width: 60px;
  text-align: right;
}

.btn-vaciar {
  height: 20px;
  padding: 0 5px;
  border-radius: 6px;
  font-size: 0.6rem;
  background-color: rgba(238, 28, 28, 0.856);
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
}

.btn-footer {
  width: 100px;
  height: 30px;
  padding: 0 5px;
  font-size: 0.7rem;
  border-radius: 8px;
  background-color: rgba(104, 241, 134, 0.678);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.btn-vaciar:hover {
  background-color: rgb(155, 45, 45);
}
.btn-footer:hover {
  background-color: rgb(0, 255, 55);
}

.mostarDesplegable {
  clip-path: var(--mostarDesplegable);
}

.error {
  background-color:#fff;
  color: red;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

/* FOOTER */

footer {
  margin-top: auto;
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  /* background-color: rgb(40, 77, 82); */
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_social {
  width: 10%;
  display: flex;
  justify-content: center;
}

i {
  color: white;
}

/* Animaciones */

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grid-fluid.activado {
  display: none;
}

.enlaces-menu.activado {
  display: block;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-4px, 8px);
}

.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-4px, -8px);
}

.burger.girar:hover {
  transform: rotate(360deg);
}

/* ventana Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.modal-show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
}

.modalContainer {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modalTitle {
  text-align: center;
  font-size: 2rem;
}

.modalImg {
  width: 20%;
  max-width: 60px;
}

.modalClose {
  text-decoration: none;
  color: #fff;
  background-color: #f26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}

.modalClose:hover {
  color: #f26250;
  background-color: #fff;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .navbar {
    flex-direction: row;
    height: 60px;
  }

  .barraMenu {
    width: 40%;
    position: static;
    justify-content: space-between;
  }

  .enlaces-menu {
    width: 70%;
    height: 58px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    border: none;
    list-style: none;
  }

  .enlaces-menu a {
    padding: 10px;
    font-size: 1.4rem;
    display: inline-flex;
  }

  .enlaces-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .enlaces-menu a:hover {
    background-color: #ffffff5d;
    color: red;
    border-radius: 10px;
  }

  .menuIcons {
    width: 20%;
    margin: 0;
  }

  .logo {
    width: 20%;
    background-color: transparent;
    text-align: left;
    margin-left: 10px;
    line-height: 60px;
  }

  h1 {
    font-size: 10rem;
    background-color: transparent;
  }

  .barra-filtros {
    padding: 0 5%;
  }
  
  #select {
    margin-top: 40px;
  }

  #select,
  #filtro {
    width: 30%;
    font-size: 1.5rem;
  }

  #productos {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 40px;
  }

  .box-text {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: #ffffff70;
  }

  .box-text h3 {
    color: rgb(65, 54, 54);
    font-size: 3rem;
    font-weight: 400;
  }

  /* Carrito */
  .contenedor-carrito {
    top: 62px;
    right: 7px;
    width: 40%;
  }

  .carrito {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .headerCarrito {
    height: 40px;
    width: 99%;
    line-height: 40px;
    font-size: 1.3rem;
  }

  .row-carrito {
    font-size: 1.2rem;
  }

  .row-carrito h4 {
    padding: 10px 5px;
    margin: 0 5px;
  }

  .row-carrito input {
    width: 70px;
    height: 40px;
    font-size: 1.5rem;
  }

  .row-carrito div {
    width: 15%;
  }

  #itemsCarrito img {
    background-color: blue;
    width: 60px;
    height: 60px;
  }

  #footerCarrito {
    padding: 10px;
    height: 140px;
    font-size: 1.6rem;
  }

  .footer-linea1 {
    padding: 10px 10px;
    width: 100%;
  }

  .nCantidad {
    width: 95px;
  }

  .btn-vaciar {
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
  }

  .btn-footer {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
  }

  footer {
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-text {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }

  footer a[href="#header"] {
    display: none;
  }
}
