html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
 width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}


.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(195, 243, 211);
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  box-shadow: -3px 10px 8px -2px rgba(68, 60, 60, 0.75);
}

#btn-menu {
  display: none;
}


.barraMenu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuIcons {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* #burger {
  cursor: pointer;
}

.menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
  top: 70px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;
} */

#btn-menu:checked ~ .menu {
  opacity: 97%;
}

svg {
  margin-right: 20px;
}

svg:hover {
  fill: rgb(214, 33, 33);
}

a {
  text-decoration: none;
  margin: 10px auto;
}

#iconoUser {
  width:40px;
  height:40px;
  background-color:rgba(60, 60, 134, 0.561);
  border-radius: 50%;
  color:white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

.menu a:hover {
  color: rgb(214, 33, 33);
}

#main {
  width: 100%;
  height: 100vh;
  padding-top:60px ;
  background-image: url(./img/frutas-verduras.webp);
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  justify-content:center;
  align-items: center;
}

h1, .logo {
  font-family: 'The Nautigal', cursive;
  font-weight: 700;
  text-shadow:4px 4px 4px #000000;
}

h1 {
  color: rgb(148, 44, 44);
  font-size: 8rem;
  padding: 30px;
  margin: 20px auto;
}

.logo {
  width:250px;
  height:50px;
  color:#fff;
  font-size: 3rem;
  margin-left: 5px;
}

.box-text{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.box-text h3{
  font-family: 'The Nautigal', cursive;
  color:#fff;
  font-size: 2rem;
  font-weight: 400;
}

#productos {
  width: 100%;
  height: 62.5vh;
  background-image: url(./img/fruta_verdura2.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#select {
  width: 50%;
  height: 50px;
  font-size: 1.5rem;
  margin-top:10px;
  background-color: rgba(128, 134, 115, 0.918);
  color: #fff;
}

 .grid-fluid {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem auto;
  max-width: 95%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow: auto;
}

.product-card {
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.product-card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.product-card img {
  margin: 0;
  width: 100%;
  height: 60%;
  object-fit: contain;
}
.product-card .card-info {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product-card .card-info .btn {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #6be4d4;
  transition: background-color 0.2s ease-in-out;
}
.product-card .card-info .btn:hover {
  background-color: #bfcecb;
  border: 0.5px solid #000;
}




/* FOOTER */

footer {
  margin-top: auto;
  width: 100%;
  height: 30vh;
  background-color:rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  /* background-color: rgb(40, 77, 82); */
}

.footer-text {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.footer_social {
  width:10%;
  display: flex;
  justify-content:center;
  
}

i {
  color: white;
}


@media (min-width: 768px) {
  #burger {
    display: none;
  }

  .barraMenu {
    width: 50%;
    justify-content: space-between;
  }
.navbar {
  position:fixed;
  top: 0;
  left: 0;
}

.menu {
    position: static;
    width: 70%;
    background-color: transparent;
    opacity: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  h1 {
  font-size: 10rem;
}

#select{
 margin-top: 40px;
}

#productos {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 40px;
}

.box-text{
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #ffffff70;
}

.box-text h3{
  color: rgb(65, 54, 54);
  font-size: 3rem;
  font-weight: 400;
}

footer {
  height: 60px;
  flex-direction:row;
  justify-content:space-around;
}

.footer-text {
  width: 50%;
  flex-direction:row;
  justify-content:space-between;
}

footer a[href="#header"] {
  display: none;
}

}
